.poke_app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 8fr;
  grid-template-areas: 
    'header'
    'main'
}

.poke_app > header {
  grid-area: header;
  height: 100px;
}

.poke_app > main {
  grid-area: main;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 64px);
}
